<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,=">
  <meta charset="UTF-8">
  <title>File server</title>
</head>
<body>
<h1>Directory listing for {{subdir}}</h1>
<hr>
<table width="500" cellspacing="0" border="0" style="margin-top:-15px ; margin-bottom:-15px">
  <tr>
    <td><h3>文件上传</h3></td>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <td><input type="file" name="file" multiple="multiple"/></td>
      <td><input type="submit" value="提交"/></td>
    </form>
  </tr>
</table>
<hr>
{% if undisplay_first == 1 %}
<a style="font-size:20px;" href="{{ pre_dir }}">../</a><br>
{% endif %}
{% for i in contents %}
<a style="font-size:20px" href="{{ url_for('document', dir=subdir+i.filename) }}">{{ i.filename}}</a><br>
{% endfor %}
</body>
</html>