<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,=">
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
<h1>{{result}}</h1>
{% if result == "文件上传成功！" %}
<hr>
<table width="170" cellspacing="0" border="0" style="margin-top:-20px">
  <tr>
    <td><p style="font-size:20px"><b>文件名:</b></p></td>
    <td><p style="font-size:20px">{{filename}}</p></td>
  </tr>
</table>
<table width="300" cellspacing="0" border="0" style="margin-top:-30px; table-layout:fixed;">
  <tr>
    <td width='100'><p style="font-size:20px"><b>上传路径:</b></p></td>
    <td width='1000' style="white-space:normal;word-break: break-all;"><p style="font-size:20px">{{file_dir}}</p></td>
  </tr>
</table>
<table width="165" cellspacing="0" border="0" style="margin-top:-30px ; margin-bottom:-20px">
  <tr>
    <td><p style="font-size:20px"><b>文件大小:</b></p></td>
    <td><p style="font-size:20px">{{file_size}}</p></td>
  </tr>
</table>
{% endif %}
<hr>
<a style="font-size:20px" href="{{ back_url }}"><b>返回</b></a>
</body>
</html>